<header class="">
    <nav class="navbar navbar-expand-md navbar-dark  my ">

        <div>
            <a routerLink="" class="navbar-brand">Floor Decor</a>
        </div>

        <ul class="navbar-nav ">
            <li><a routerLink="/home" class="nav-link">Home</a></li>
            <li><a routerLink="" class="nav-link">About us</a></li>
            <li><a routerLink="" class="nav-link">Contact Us</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
    <!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </nav> -->
</header>
