/* .myFooter{
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
    padding: 60px 0;
} */

/* Footer */

@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

/* section {
    padding: 10px 0;
} */

/* 
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
} */
#footer {
    background : linear-gradient(rgba(27, 25, 25, 0.62), rgba(3, 0, 0, 0.88)), url(/assets/footer-image.jpg) !important;
    /* margin-top : 50%; */
    position   : absolute;
    bottom     : 0;
    width      : 100%;
    color      : white;
    padding-top: 30px;
    bottom     : initial;
}

/* E7717D 31708E 303C6C F78888 D3E3FC 14A098 EDEAE5 F3D250 3B8BE 182628 374785  24305E 17252A 2B7A78*/
/* #footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
} */
#footer a {
    color                       : #ffffff;
    text-decoration             : none !important;
    background-color            : transparent;
    -webkit-text-decoration-skip: objects;
}

#footer div.social li {
    padding: 3px 0;
}

#footer div.social li a i {
    margin-right      : 5px;
    margin-left       : 5px;
    font-size         : 20px;
    padding           : 10px;
    -webkit-transition: .5s all ease;
    -moz-transition   : .5s all ease;
    transition        : .5s all ease;
}

#footer div.social li:hover a i {
    font-size : 25px;
    margin-top: -10px;
}

#footer div.social li a i,
#footer div.quick-links li a i {
    color: #ffffff;
}

#footer div.social li a i:hover {
    color: #eeeeee;
}

#footer div.quick-links li {
    padding           : 10px 0;
    width             : auto;
    font-size         : 20px;
    -webkit-transition: .5s all ease;
    -moz-transition   : .5s all ease;
    transition        : .5s all ease;
}

#footer div.quick-links li:hover {
    padding     : 10px 0;
    margin-right: 5px;
    margin-left : 5px;
    font-weight : 700;
}

#footer div.quick-links li a i {
    margin-right: 30px;
    margin-left : 10px;
}

#footer div.quick-links li:hover a i {
    font-weight: 700;

}

@media (max-width:767px) {
    #footer h5 {
        padding-left  : 0;
        border-left   : transparent;
        padding-bottom: 0px;
        margin-bottom : 10px;
    }
}