<div class="container ">
    <div class="col-md-6 box">
        <form [formGroup]='userregistrationForm' class="needs-validation form "
            (ngSubmit)="PostData(userregistrationForm)">

            <label>
                <h1>Sign Up</h1>
            </label>

            <div>
                <label class="col-md-4">Username:</label>
                <input type="text" class="form-control" formControlName="username" placeholder="Username"
                    autocomplete="username" required>
                <!-- <div *ngIf="submitted && f.username?.errors" class="invalid-feedback">
            <div *ngIf="f.username?.errors?.required">username is required</div>
        </div> -->
            </div>
            <div>
                <label class="col-md-4">Email:</label>

                <input type="email" class="form-control " formControlName="email" placeholder="email"
                    autocomplete="email" required>
            </div>
            <div> 
                <label class="col-md-4">Password:</label>

                <input type="password" class="form-control" formControlName="password" placeholder="password"
                    autocomplete="password" required>
            </div>
            <!-- <div>
                <label class="col-md-6">Gender:</label>
                <div class="col-md-6 radio-align">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="gender1" name="gender" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Male</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="gender2" name="gender" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Female</label>
                    </div>
                </div>
            </div> -->
            <input type="submit" value="Create
            Account" class="btn btn-block " [disabled]="!userregistrationForm.valid">

           <label> <a routerLink="" class="color"> Signup as Admin  </a></label>

        </form>
    </div>
</div>









