
<div class="container">
    <button class="btn btn-success"  (click)="addNewOrder()">Add new  order</button>

    <div *ngFor="let user of userOrderDetail" >
        <div class="card">
            <div class="card-header">
                <div class="row sample-row">
                    <div class="col-xs-12 col-sm-6 col-md-3 gutter-margin-xs-sm gutter-margin-sm-md">
                        <div class="inner"><b>Order Id:</b> {{user.id}}</div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 gutter-margin-xs-sm gutter-margin-sm-md">
                        <div class="inner">product Name: <b>{{user.productName}}</b></div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 gutter-margin-xs-sm gutter-margin-sm-md">
                        <div class="inner">Total: <b><i class="fa fa-inr" aria-hidden="true"></i> {{user.total}} </b>
                        </div>
                    </div>

                   
                </div>

            </div>
            <div class="row sample-row">
                <div class="col-xs-12 col-sm-6 col-md-6 gutter-margin-xs-sm gutter-margin-sm-md">
                    <div class="col-12">Name: <b>{{user.name}}</b></div>
                    <div class="col-12">Address: <b>{{user.address}}</b></div>
                    <div class="col-12">Landmark: <b>{{user.landmark}}</b></div>
                    <div class="col-12">Pincode: <b>{{user.pincode}}</b></div>
                    <div class="col-12">City: <b>{{user.city}}</b></div>
                    <div class="col-12">phone number: <b>{{user.phoneNumber}}</b></div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 gutter-margin-xs-sm gutter-margin-sm-md">
                    <div class="col-12" *ngIf="!user.activeStatus">Status :
                        <b>pending</b></div>
                        <div class="col-12" *ngIf="user.approvedOrder">Status :
                            <b>order approved by Admin</b></div>
                            <div class="col-12" *ngIf="user.rejectedOrder">Status :
                                <b>order approved by Admin</b></div>
                  
                                <button class="btn btn-primary" *ngIf="!user.approvedOrder" (click)="updateOrder(user.id)">edit order</button>
                                <button class="btn btn-warning" *ngIf="!user.approvedOrder" (click)="deleteOrder(user.id)">cancel order</button>
                </div>
            </div>
        </div>
    </div>
</div>