<div class="container">

  <form class="col-md-6 " (ngSubmit)="onSubmit()" #Aform='ngForm'>
    <label>
      <h1>Admin Signup Form</h1>
    </label>
    <div id="user-data" ngModelGroup="adminData" #adminData="ngModelGroup">
      <div class="form-group ">
        <label for="name">Adminname</label>
        <input type="text" class="form-control" id="adminname" name="adminname" ngModel [(ngModel)]="admin.adminname" #adminname="ngModel" required>
        <div class="alert alert-danger"  *ngIf="!adminname.valid && adminname.touched"> Adminname is invalid</div>

      </div>

      <div class="form-group">
        <label for="alterEgo">Email</label>
        <input type="text" class="form-control" id="email" name="email" ngModel [(ngModel)]="admin.email" email required #email="ngModel">
        <div class="alert alert-danger"  *ngIf="!email.valid && email.touched"> Email is invalid</div>
      </div>

      <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="admin.password" ngModel required #password="ngModel">
        <div class="alert alert-danger"  *ngIf="!password.valid && password.touched"> password is invalid</div>

      </div>

      <!-- <div class="radio" *ngFor="let gender of genders">
        <label>
          <input type="radio" name="gender" [value]="gender" ngModel
            required>
          {{gender}}
        </label>

      </div> -->

      <button type="submit" class="btn btn-success" [disabled]="!Aform.valid">Signup as Admin</button>
    </div>
    <p *ngIf="!adminData.valid && adminData.touched && submitted ">Admin data is Invalid</p>
  </form>
</div>

<!-- [(ngModel)]="username" -->
<!-- [disabled]="!form.valid" -->